SUPABASE_URL=https://gmmektzvvrtttszdgiai.supabase.co # safe to share
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtbWVrdHp2dnJ0dHRzemRnaWFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MzQyNzYsImV4cCI6MjA4NzMxMDI3Nn0.aFzJcKC4dHgSz7TuQFR-4ZjnVMNQZAycWYkXg1UHKKY # safe to share
SUPABASE_SERVICE_ROLE_KEY= # eyJ...
GEMINI_API_KEY=    # AIza...
GEMINI_MODEL=gemini-3-flash-preview
PORT=3001
